.ag-theme-balham .ag-root {
  border: none !important;
  border-top: 1px solid #eaeaea !important;
  border-bottom: 1px solid #eaeaea !important;
}
.ag-theme-balham .ag-paging-panel {
  border: none !important; 
}